section#navbar
  .navbarItemsContainer.pagesContainer
    .pages
      p Home
    .pages
      p Shop
    .pages
      p About
  .navbarItemsContainer.searchContainer
    form#search
      // prettier-ignore
      input#searchInput.searchTerm(type='text' placeholder='What are you looking for?')
      button#searchButton(type='submit')
        i.fa.fa-search
  .navbarItemsContainer.profile
    if !user
        button#loginButton Login
        button#regButton Sign up
    else 
        div#numOfItems #{user.cart.length}
        div#cart
          img(src="/assets/img/cart.png")
        div#loggedInProfile
          p #{user.username}
        div#profileDropdown
          a(href="/profile/" + user.id)
            div.item#profile profile
          if user.admin
            a(href="/dashboard")
              div.item#dashboard dashboard
          div.item#logout log out
form#loginForm
  p#loginText Login
  br
  label#usernameLabel Username
  input#loginUsername(type='text')
  br
  label#passwordLabel Password
  input#loginPassword(type='password')
  br
  a#passwordReset(href='http://localhost:4000/resetPassword') Forgot password?
  br
  button#loginSubmit(type='submit') Submit
  div#loginResponse
  //- #loginSocial
  //-   p Log in with
  //-   a#fbLogin.loginSocialItem.fb-bg(href='#')
  //-     i.fa.fa-facebook
  //-   a#googleLogin.loginSocialItem.google-bg(href='#')
  //-     i.fa.fa-google
form#regForm
  p#loginText Sign up
  br
  label#emailLabel E-mail
  p#emailErr.signUpValidationError
  input#emailInput(type='text')
  br
  label#usernameLabel Username
  p#usernameErr.signUpValidationError
  input#regUsername(type='text')
  br
  label#passwordLabel Password
  p#passwordErr.signUpValidationError
  input#regPassword(type='password')
  br
  label#passwordLabel Repeat password
  p#repeatPasswordError.signUpValidationError
  input#regPasswordRepeat(type='password')
  br
  button#regSubmit(type='submit') Submit