doctype html
include partials/head
link(rel='stylesheet' href='../styles/about.css')
include partials/navbar
section
  #content
    #particles
    #description
      .headers About company
      |           We are sneakers selling company running successful business for more
      |           than 10 years. Starting as a small start-up company, with our passion
      |           and hard work, we have managed to brand our name and be recognized as
      |           trastful company that serves millions of customers all over the world.
      |           In the future our goal is to become standard global company matching
      |           industry&apos;s giants.
    #contact
      .headers
        | Contact
      .itemKey E-mail:
      .itemValue
        a(href='')  sneakerszone@gmail.com
      br
      .itemKey Adress:
      .itemValue
        | E Cocoa St Compton
      br
      .itemKey Phone :
      .itemValue
        | (+1) 213-827-3138
    #map
      .headers Where to find us
      iframe(src='https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3312.001720391144!2d-118.21821258530525!3d33.88960953373144!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x80c2cb5d68b2d0b9%3A0x2b3dc9788c9af17d!2zRSBDb2NvYSBTdCwgQ29tcHRvbiwgQ0EgOTAyMjEsINCh0ZjQtdC00LjRmtC10L3QtSDQlNGA0LbQsNCy0LU!5e0!3m2!1ssr!2srs!4v1593885337421!5m2!1ssr!2srs')

  script(src='../js/about.js' type='module')
  script(src='https://cdn.jsdelivr.net/particles.js/2.0.0/particles.min.js')
  script(src='https://cdnjs.cloudflare.com/ajax/libs/gsap/2.1.3/TweenMax.min.js')
  script(src='https://cdnjs.cloudflare.com/ajax/libs/gsap/2.1.3/TimelineMax.min.js')

