doctype html
include partials/head
link(rel='stylesheet' href='../styles/index.css')
include partials/navbar
section#welcomeContainer
  #welcomeCentral Welcome to Sneakers Zone !
  #welcomeLeft
    | Sneakers shop that you will love! One place where everyone can satisfy
    | their needs. You want best, we give it to you. Get your sneakers at
    | never seen before prices !
    br
    button#welcomeButton(data-hover='→')
      p Check it out !
  #welcomeRight
    // prettier-ignore
    i#leftArrow.fa.fa-chevron-left.fa-2x(aria-hidden='true')
    #slideShow
    #slideShowPrice
    // prettier-ignore
    i#rightArrow.fa.fa-chevron-right.fa-2x(aria-hidden='true')
section#sliderSection
  #sliderOne.slider
    #sliderOneText.sliderInside
      | Free shipping across the country. Deadline for delivering our product
      | is 30 days !
    #sliderOneImage.sliderInside
      img(src='./assets/img/delivery6.png' alt='free delivery')
  #sliderTwo.slider
    #sliderTwoImage.sliderInside
      img(src='./assets/img/moneyBack.png' alt='money back')
    #sliderTwoText.sliderInside
      | Not satisfied with the product? Worry not as our policy allows full
      | refund within 30 days !
  #sliderThree.slider
    #sliderThreeText.sliderInside
      | Get only high quality products. Millions of happy customers all over
      | the world !
    #sliderThreeImage.sliderInside
      img(src='./assets/img/bestQuality.png' alt='secure payment')

  script(src='/js/index.js' type='module')
  script(src='https://cdnjs.cloudflare.com/ajax/libs/gsap/2.1.3/TweenMax.min.js')
  script(src='https://cdnjs.cloudflare.com/ajax/libs/gsap/2.1.3/TimelineMax.min.js')

