doctype html
include partials/head
link(rel='stylesheet' href='/styles/product.css')
include partials/navbar
section#content
    div#imageContainer
        img(src="../../../" + item.imagePath)
    div#infoContainer
        div#name #[p.tag Name:] #[p#value #{item.name}]
        div#gender #[p.tag Gender:] #[p#genderValue #{item.gender}]
        div#price #[p.tag Price:] #{item.price} $
        if !user.loggedIn
            div#addToCartContainer.text Log in and add to cart !
        else
            div#addToCartContainer
                div#quantityContainer
                    div#decrease
                        i#leftArrow.fa.fa-chevron-left.fa-2x(aria-hidden='true')
                    label#quantityText quantity:
                    div#quantity
                    div#increase
                        i#rightArrow.fa.fa-chevron-right.fa-2x(aria-hidden='true')
                button#add add to cart
            div#response
    script(src='/js/exports.js' type='module')
    script(src='/js/product.js' type='module')
    script(src='https://cdnjs.cloudflare.com/ajax/libs/gsap/2.1.3/TweenMax.min.js')
    script(src='https://cdnjs.cloudflare.com/ajax/libs/gsap/2.1.3/TimelineMax.min.js')
