doctype html
include partials/head
link(rel='stylesheet' href='../styles/profile.css')
include partials/navbar
div#updateProfile
  p update profile
  div#dropdown
    div#formContainer
      form
        label new password: &nbsp
        input(type="password")
        br
        br
        label#repeatPwText repeat password:
        input(type="password")#repeatInput
    div#btnAndResponse
      button#resetButton Reset
      div#response
  script(src='/js/profile.js' type='module')
  script(src='https://cdnjs.cloudflare.com/ajax/libs/gsap/2.1.3/TweenMax.min.js')
  script(src='https://cdnjs.cloudflare.com/ajax/libs/gsap/2.1.3/TimelineMax.min.js')



