doctype html
include partials/head
link(rel='stylesheet' href='../styles/resetPassword.css')
form
  p Enter your email
  br
  input#email(type='text')
  br
  button#reset Reset
  br
  response#response 
  script(src='/js/resetPassword.js' type='module')
  script(src='/js/exports.js' type='module')
  script(src='https://cdnjs.cloudflare.com/ajax/libs/gsap/2.1.3/TweenMax.min.js')
  script(src='https://cdnjs.cloudflare.com/ajax/libs/gsap/2.1.3/TimelineMax.min.js')
