doctype html
include partials/head
link(rel='stylesheet' href='../styles/resetPassword.css')
style(type='text/css').
    body{
        height: 600px;
    }
    h1{
        margin: 20px 0 0 20px;
    }
if message === 'invalid token'
    h1 Invalid token
else
    form
        p Enter new password
        br
        input#password(type='password')
        br
        button#pwReset Set password
        br
        response#pwResponse
script(src='/js/resetPassword.js' type='module')
script(src='/js/exports.js' type='module')
script(src='https://cdnjs.cloudflare.com/ajax/libs/gsap/2.1.3/TweenMax.min.js')
script(src='https://cdnjs.cloudflare.com/ajax/libs/gsap/2.1.3/TimelineMax.min.js')