doctype html
head
  meta(charset='UTF-8')
  meta(name='viewport' content='width=device-width, initial-scale=1.0')
  title Shop
  link(rel='stylesheet' href='../styles/index.css')
  link(rel='stylesheet' href='../styles/shop.css')
  link(rel='stylesheet' href='https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css' integrity='sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN' crossorigin='anonymous')
  script(defer='' src='../js/shop.js' type='module')
  script(defer='' src='../js/exports.js' type='module')
body
section#navbar
  #navbarItemsContainer.pagesContainer
    .pages
      p Home
    .pages
      p Shop
    .pages
      p About
  #navbarItemsContainer.searchContainer
    form#search
      // prettier-ignore
      input#searchInput.searchTerm(type='text' placeholder='What are you looking for?')
      button.searchButton(type='submit')
        i.fa.fa-search
  #navbarItemsContainer.profile
    if !loggedIn 
        button#loginButton Login
        button#regButton Sign up
    else 
        div#cart
          img(src="/assets/img/cart.png")
        div#loggedInProfile
          p #{name}
        div#profileDropdown
            div.item#profile profile
            div.item#logout log out
section#contentContainer
  #filtersContainer
    #filters
      div
        button#clearSearch clear search
      #brandFiltersContainer
        | brand
        #brandFilters
          label.brandItem
            input(type='checkbox')
            span.checkmark
            |                 nike
          label.brandItem
            input(type='checkbox')
            span.checkmark
            |                 adidas
          label.brandItem
            input(type='checkbox')
            span.checkmark
            |                 puma
          label.brandItem
            input(type='checkbox')
            span.checkmark
            |                 reebok
      #genderFiltersContainer
        | gender
        #genderFilters
          label.brandItem
            input(type='checkbox')
            span.checkmark
            |                 male
          label.brandItem
            input(type='checkbox')
            span.checkmark
            |                 female
      #sortFiltersContainer
        | sort by
        #genderFilters
          label.brandItem
            input(type='radio' name='sort' checked='true')
            span.checkmark
            |                 latest
          label.brandItem
            input(type='radio' name='sort')
            span.checkmark
            |                 price
  #shopItemsContainer
    #item
      #itemImgContainer
        img#itemImg
      #itemName
      #itemPrice
    #item
    #item
    #item
    #item
    #item
form#loginForm
  p#loginText Login
  br
  label#usernameLabel Username
  input#loginUsername(type='text')
  br
  label#passwordLabel Password
  input#loginPassword(type='password')
  br
  a#passwordReset(href='/') Forgot password?
  br
  button#loginSubmit(type='submit') Submit
  #loginSocial
    p Log in with
    a.loginSocialItem.fb-bg(href='#')
      i.fa.fa-facebook
    a.loginSocialItem.google-bg(href='#')
      i.fa.fa-google
form#regForm
  p#loginText Sign up
  br
  label#emailLabel E-mail
  p#emailErr.signUpValidationError
  input#emailInput(type='text')
  br
  label#usernameLabel Username
  p#usernameErr.signUpValidationError
  input#regUsername(type='text')
  br
  label#passwordLabel Password
  p#passwordErr.signUpValidationError
  input#regPassword(type='password')
  br
  label#passwordLabel Repeat password
  p#repeatPasswordError.signUpValidationError
  input#regPasswordRepeat(type='password')
  br
  button#regSubmit(type='submit') Submit
script(src='https://cdnjs.cloudflare.com/ajax/libs/gsap/2.1.3/TweenMax.min.js')
script(src='https://cdnjs.cloudflare.com/ajax/libs/gsap/2.1.3/TimelineMax.min.js')
