doctype html
include partials/head
link(rel='stylesheet' href='../styles/shop.css')
include partials/navbar
section#contentContainer
  #filtersContainer
    #filters
      div
        button#clearSearch clear search
      #brandFiltersContainer
        | brand
        #brandFilters
          label.brandItem
            input(type='checkbox')#nikeFilter
            span.checkmark
            |                 nike
          label.brandItem
            input(type='checkbox')#adidasFilter
            span.checkmark
            |                 adidas
          label.brandItem
            input(type='checkbox')#pumaFilter
            span.checkmark
            |                 puma
          label.brandItem
            input(type='checkbox')#reebokFilter
            span.checkmark
            |                 reebok
      #genderFiltersContainer
        | gender
        #genderFilters
          label.brandItem
            input(type='checkbox')#maleFilter
            span.checkmark
            |                 male
          label.brandItem
            input(type='checkbox')#femaleFilter
            span.checkmark
            |                 female
      #sortFiltersContainer
        | sort by
        #genderFilters
          label.brandItem
            input(type='radio' name='sort' checked='true')
            span.checkmark
            |                 latest
          label.brandItem
            input(type='radio' name='sort')
            span.checkmark
            |                 price
  #shopItemsContainer
    each product in products
      .product
        .productImgContainer
          img(src=product.imagePath).productImg
        .productName #{product.name} - #{product.gender}
        .productPrice #{product.price} $
  script(src='../js/shop.js' type='module')
  script(src='https://cdnjs.cloudflare.com/ajax/libs/gsap/2.1.3/TweenMax.min.js')
  script(src='https://cdnjs.cloudflare.com/ajax/libs/gsap/2.1.3/TimelineMax.min.js')

