doctype html
include partials/head
link(rel='stylesheet' href='../styles/shop.css')
include partials/navbar
section#contentContainer
  #filtersContainer
    #filters
      div
        button#clearSearch clear search
      #brandFiltersContainer
        | brand
        #brandFilters
          label.brandItem
            input(type='checkbox')
            span.checkmark
            |                 nike
          label.brandItem
            input(type='checkbox')
            span.checkmark
            |                 adidas
          label.brandItem
            input(type='checkbox')
            span.checkmark
            |                 puma
          label.brandItem
            input(type='checkbox')
            span.checkmark
            |                 reebok
      #genderFiltersContainer
        | gender
        #genderFilters
          label.brandItem
            input(type='checkbox')
            span.checkmark
            |                 male
          label.brandItem
            input(type='checkbox')
            span.checkmark
            |                 female
      #sortFiltersContainer
        | sort by
        #genderFilters
          label.brandItem
            input(type='radio' name='sort' checked='true')
            span.checkmark
            |                 latest
          label.brandItem
            input(type='radio' name='sort')
            span.checkmark
            |                 price
  #shopItemsContainer
    .item
      .itemImgContainer
        img#itemImg
      .itemName
      .itemPrice
    .item
    .item
    .item
    .item
    .item
  script(src='../js/shop.js' type='module')
  script(src='https://cdnjs.cloudflare.com/ajax/libs/gsap/2.1.3/TweenMax.min.js')
  script(src='https://cdnjs.cloudflare.com/ajax/libs/gsap/2.1.3/TimelineMax.min.js')

