body {
  overflow: auto;
  height: 600px;
}

:root {
  --table-border: 2px solid rgba(255, 0, 0, 1);
  --page-font: "Courier New", Courier, monospace;
}

#itemsContainer {
  position: absolute;
  top: 180px;
  width: 80%;
  min-width: 600px;
  left: 0;
  right: 0;
  margin: auto;
  border-collapse: collapse;
  table-layout: fixed;
}

th {
  border-right: var(--table-border);
  border-bottom: var(--table-border);
  font-size: 20px;
  font-family: var(--page-font);
}

#itemValues td {
  text-align: center;
  font-size: 18px;
  border-bottom: var(--table-border);
  padding: 5px;
  font-family: var(--page-font);
}

#priceTh {
  border-right: 0;
}

a {
  cursor: pointer;
  color: white;
  text-decoration: none;
}

#total {
  float: right;
  padding: 5px;
  font-size: 20px;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
}

.remove {
  position: absolute;
  right: 0;
  border-radius: 18px;
}

.remove:active {
  border-color: red;
}

#placeAndResponse {
  position: fixed;
  top: 270px;
  margin: 0 auto;
  width: 150px;
  left: 50%;
  transform: translateX(-50%);
  display: none;
}

#response {
  text-align: center;
  position: relative;
  top: 20px;
}

#placeOrder {
  width: 150px;
  border-radius: 3px;
  background-color: rgba(100, 0, 0, 1);
  font-family: var(--page-font);
  font-size: 16px;
}

#placeOrder:active {
  border-color: red;
}

@media only screen and (max-width: 420px) {
  #itemsContainer {
    top: 200px;
  }
}
