* {
  box-sizing: border-box;
  margin: 0;
}

body {
  color: white;
  /* prettier-ignore */
  background-image: url("../assets/img/5.jpg");
  background-size: cover;
  background-attachment: fixed;
  font-family: "Open Sans", sans-serif;
  height: 1250px;
  overflow-x: hidden;
}

:root {
  --search-color: white;
}

#navbar {
  background-image: url("../assets/img/5.jpg");
  background-size: cover;
  background-attachment: fixed;
  z-index: 2;
  position: fixed;
  width: 100%;
  height: 8vh;
  justify-content: space-around;
  text-align: center;
  display: none;
}

#navbarItemsContainer {
  width: 32%;
}

button {
  cursor: pointer;
  border: 2px solid var(--search-color);
  outline: none;
  color: white;
  border: 2px solid white;
  background: rgba(255, 0, 0, 0.2);
}

.pages {
  float: left;
  width: 28%;
  font-size: 20px;
  line-height: 8vh;
  font-style: italic;
}

.pages p,
.pages p:after {
  transition: all 0.5s;
  cursor: pointer;
}

.pages p {
  position: relative;
}

.pages p:after {
  position: absolute;
  left: 0;
  right: 0;
  top: 40px;
  margin: auto;
  width: 0%;
  content: ".";
  color: transparent;
  background: red;
  height: 2px;
}

.pages p:hover:after {
  width: 50%;
}

.pages:hover {
  color: grey;
}

#search {
  width: 100%;
  height: 80%;
  margin-top: 5px;
  margin-left: -50px;
  display: flex;
}

.searchTerm {
  width: 100%;
  border: 2px solid var(--search-color);
  border-right: none;
  padding: 5px;
  border-radius: 5px 0 0 5px;
  outline: none;
  color: grey;
}

.searchTerm:focus {
  color: black;
}

#searchButton {
  width: 40px;
  height: 100%;
  border-left: none;
  background: white;
  border-radius: 0 5px 5px 0;
  font-size: 23px;
  color: black;
}

#navbarItemsContainer.profile {
  display: flex;
  justify-content: flex-end;
  width: 20%;
}

#loginButton,
#regButton {
  margin: 8px 5px 0 10px;
  width: 80px;
  min-width: 60px;
  white-space: nowrap;
  height: 65%;
  font-style: italic;
  font-weight: bold;
  border-radius: 18px;
}

#loginButton:active,
#regButton:active {
  border-color: red;
}

#regButton {
  margin-right: 5%;
}

#navbarItemsContainer {
  width: 32%;
}

#loggedInContainer {
  display: flex;
  justify-content: space-around;
  margin-top: auto;
}

#cart,
#loggedInProfile {
  margin-top: 8px;
  margin-right: 30px;
  position: relative;
}

#cart {
  width: 20%;
  height: 30px;
  width: 30px;
  cursor: pointer;
}

#cart img {
  width: 100%;
  height: 100%;
}

#loggedInProfile {
  min-width: 20%;
  min-height: 60%;
  line-height: 4vh;
  margin-top: 10px;
  font-size: 20px;
}

#profileDropdown {
  display: none;
  position: absolute;
  top: 100%;
  border: 1px solid red;
  border-top: none;
  border-radius: 8px;
  background-color: rgba(255, 0, 0, 0.2);
  min-width: 130px;
  font-size: 18px;
  font-family: "Courier New", Courier, monospace;
}

#loggedInProfile:hover ~ #profileDropdown,
#profileDropdown:hover {
  display: block;
}

#profileDropdown .item:hover {
  background-color: rgba(255, 0, 0, 0.4);
}

.item {
  cursor: pointer;
  height: 25px;
  padding: 2px;
}

.item#profile,
.item#dashboard {
  border-radius: 8px 8px 0 0;
  border-bottom: 1px solid red;
}

#profileDropdown a {
  color: white;
  text-decoration: none;
}

#profileDropdown a:visited {
  color: white;
}

.item#logout {
  border-radius: 0 0 8px 8px;
}

#welcomeContainer {
  overflow: hidden;
  position: relative;
  width: 64%;
  height: 60vh;
  margin: auto;
  top: 150px;
  align-items: center;
  justify-content: space-around;
  background-image: linear-gradient(
    90deg,
    rgba(200, 0, 0, 0) 0%,
    rgba(105, 15, 15, 1) 0%,
    rgba(0, 0, 0, 0) 95%
  );
  border-radius: 18px;
  display: none;
}

#welcomeCentral {
  position: absolute;
  top: 3%;
  width: 100%;
  min-height: 6vh;
  margin: auto;
  text-align: center;
  line-height: 6vh;
  font-size: 30px;
}

#welcomeLeft,
#welcomeRight {
  margin-top: 50px;
  width: 46%;
  height: 45vh;
}

#welcomeLeft {
  padding: 5px;
  padding-top: 30px;
  text-indent: 20px;
  font-size: 20px;
}

#welcomeButton {
  display: block;
  margin: auto;
  margin-top: 20px;
  border-radius: 18px;
  height: 5vh;
  font-weight: bold;
  overflow: hidden;
  background: rgba(255, 0, 0, 0.1);
}

#welcomeButton:active {
  border-color: red;
}

#welcomeButton:hover:before {
  opacity: 1;
  left: 3px;
}

#welcomeButton:before {
  content: attr(data-hover);
  position: relative;
  left: -100px;
  top: -17px;
  width: 100%;
  font-size: 30px;
  font-weight: 800;
  transition: all 0.3s ease-in-out;
}

#welcomeButton:hover p {
  transform: translate(110%, 0);
}

#welcomeButton p {
  margin-top: -42px;
  text-transform: uppercase;
  font-weight: 1000;
  font-size: 0.8em;
  transition: all 0.3s ease-in-out;
}

#welcomeRight {
  position: relative;
  display: flex;
  justify-content: space-between;
}

#leftArrow,
#rightArrow {
  z-index: 1;
  font-size: 30px;
  align-self: center;
  cursor: pointer;
}

#leftArrow:active,
#rightArrow:active {
  color: red;
}

#slideShow {
  position: absolute;
  left: 5%;
  width: 90%;
  margin: auto;
  height: 100%;
  background-size: 100% 100%;
  background-repeat: no-repeat;
}

#slideShowPrice {
  position: absolute;
  left: 44%;
  bottom: 0;
  font-size: 20px;
}

#sliderSection {
  position: absolute;
  top: 700px;
}

.slider {
  position: relative;
  height: 20vh;
  width: 50%;
  display: flex;
  margin-bottom: 50px;
  justify-content: space-around;
  background-image: linear-gradient(
    90deg,
    rgba(180, 0, 0, 0.5) 2%,
    rgba(105, 15, 15, 0.1) 50%,
    rgba(0, 0, 0, 0) 100%
  );
  transition: all 0.8s ease-in-out;
}

#sliderOneText,
#sliderTwoText,
#sliderThreeText {
  height: 60%;
  width: 50%;
  align-self: center;
  font-size: 18px;
}

#sliderOneImage,
#sliderTwoImage,
#sliderThreeImage {
  width: 30%;
}

.sliderInside img {
  width: 100%;
  height: 100%;
}

#sliderTwo {
  background-image: linear-gradient(
    90deg,
    rgba(0, 0, 0, 0) 2%,
    rgba(105, 15, 15, 0.1) 50%,
    rgba(180, 0, 0, 0.5) 100%
  );
}

.sliderInside {
  width: 40%;
}

#loginForm,
#regForm {
  position: fixed;
  top: 100px;
  left: 50%;
  transform: translate(-50%, 0);
  height: 60vh;
  width: 300px;
  border: 3px solid white;
  border-radius: 22px;
  text-align: center;
  background: rgba(130, 0, 0, 1);
  z-index: 301;
  opacity: 0;
  display: none;
}

#loginText,
#regText {
  font-size: 40px;
  font-family: Georgia, "Times New Roman", Times, serif;
  margin-bottom: 20px;
}

#loginForm input,
#regForm input {
  margin-bottom: 30px;
  height: 4vh;
  outline: none;
  border-radius: 5px;
  border: none;
  padding: 5px;
}

#loginForm label,
#regForm label {
  position: absolute;
  margin-top: -20px;
  color: white;
  font-size: 14px;
}

#passwordReset {
  position: absolute;
  margin-top: -20px;
  font-size: 14px;
  right: 20px;
  color: white;
  font-weight: bold;
}

#loginSubmit,
#regSubmit {
  width: 40%;
  border-radius: 5px;
  height: 4vh;
}

#loginSocial {
  position: absolute;
  border-top: 2px solid white;
  height: 22.5%;
  width: 80%;
  margin: auto;
  bottom: 25px;
  left: 10%;
  padding: 10px;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
}

.fb-bg {
  background-color: #3b5998;
}

.google-bg {
  background-color: #ea4335;
}

.loginSocialItem {
  font-size: 25px;
  color: #fff;
  /* display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox; */
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 45px;
  height: 45px;
  border-radius: 50%;
  margin: 5px;
  transition: 0.5s;
  border: 1px solid white;
}

.loginSocialItem:hover {
  color: #fff;
  background-color: #333333;
}

#pageCover {
  position: absolute;
  top: 0;
  height: 1250px;
  width: 100%;
  z-index: 300;
}

.signUpValidationError {
  position: absolute;
  left: 150px;
  margin-top: -20px;
}

#repeatPasswordError {
  margin-top: 30px;
  margin-left: -80px;
}

@media only screen and (max-width: 800px) {
  #navbar {
    flex-flow: row wrap;
    height: 16vh;
  }

  .pagesContainer {
    flex-basis: 100%;
  }

  .pages {
    width: 33%;
  }

  .searchContainer {
    flex-basis: 60%;
    height: 8vh;
  }

  #search {
    margin-left: 0;
  }

  .profile {
    flex-basis: 40%;
    height: 8vh;
  }
}

@media only screen and (max-width: 730px) {
  #welcomeContainer {
    width: 95% !important;
    flex-flow: row wrap;
    min-height: 50%;
  }

  #welcomeCentral {
    margin-top: 10px;
  }

  #welcomeLeft {
    flex-basis: 100%;
    position: relative;
    top: 20px;
    height: 150px;
  }

  #welcomeRight {
    margin-bottom: 10px;
    flex-basis: 80%;
    margin-top: 10px;
  }

  #sliderSection {
    position: relative;
    margin-top: -500px;
  }

  .slider {
    width: 100%;
    background: transparent;
  }

  .sliderInside {
    width: 55% !important;
  }

  #sliderOneText,
  #sliderTwoText,
  #sliderThreeText {
    display: none;
  }

  #sliderTwo {
    margin-left: 0% !important;
    background: transparent !important;
  }
}

@media only screen and (max-width: 420px) {
  #navbar {
    height: 25vh;
  }
  .searchContainer {
    flex-basis: 100%;
    height: 8vh;
  }

  .profile {
    flex-basis: 100%;
    height: 8vh;
  }
}
