body {
  height: 600px;
}

#pageCover {
  height: 600px;
}

#content {
  height: 60vh;
  top: 150px;
  position: absolute;
  width: 90%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  left: 5%;
  background-image: linear-gradient(
    270deg,
    rgba(200, 0, 0, 0) 0%,
    rgba(105, 15, 15, 1) 0%,
    rgba(0, 0, 0, 0) 95%
  );
  border-radius: 18px;
}

#imageContainer,
#infoContainer {
  height: 90%;
  width: 45%;
}

#imageContainer {
  background-color: white;
  border-radius: 18px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

#imageContainer img {
  border: 5px solid black;
  border-radius: 18px;
  width: 99%;
  height: 98%;
}

#infoContainer {
  padding-top: 20px;
}

#name,
#gender,
#price,
#addToCart {
  width: 100%;
  font-size: 28px;
  word-wrap: break-word;
}

.tag {
  display: inline-block;
  min-width: 120px;
  white-space: no-wrap;
  margin-bottom: 10px;
}

#value {
  display: inline-block;
}

#addToCartContainer {
  height: 20%;
  margin-top: 55px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  position: relative;
}

#quantityText {
  position: absolute;
  top: -10px;
  font-size: 18px;
  margin-left: 3px;
}

#quantityContainer {
  border: 1px solid white;
  border-radius: 18px;
  width: 140px;
  height: 50%;
  display: inline-block;
}

#decrease,
#increase {
  width: 25%;
  height: 100%;
  float: left;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

#quantity {
  width: 50%;
  height: 100%;
  float: left;
  text-align: center;
  font-size: 22px;
  line-height: 5vh;
}

#leftArrow,
#rightArrow {
  font-size: 17px;
}

#add {
  width: 100px;
  height: 4vh;
  border-radius: 18px;
}

#add:active {
  border-color: red;
}

#response {
  width: 120px;
  height: 4vh;
  margin: auto;
  margin-top: 20px;
  text-align: center;
  border: 1px solid white;
}

.text {
  text-align: center;
  font-size: 24px;
}

#genderValue {
  display: inline-block;
}

@media only screen and (max-width: 885px) {
  #content {
    width: 100%;
    left: -1%;
  }
}

@media only screen and (max-width: 800px) {
  #content {
    height: 130vh;
    display: block;
    background-image: linear-gradient(
      360deg,
      rgba(200, 0, 0, 0) 0%,
      rgba(105, 15, 15, 1) 0%,
      rgba(0, 0, 0, 0) 95%
    );
    width: 101%;
    border-radius: 0;
  }

  #imageContainer,
  #infoContainer {
    height: 50%;
    margin: auto;
  }

  #imageContainer {
    width: 350px;
  }

  #infoContainer {
    width: 80%;
    text-align: center;
  }

  #name,
  #gender,
  #price {
    font-size: 22px;
  }

  #gender,
  #price {
    margin-top: 20px;
  }

  .tag {
    width: 100%;
    display: block;
    margin-bottom: 0;
  }

  #quantity {
    margin-top: -2px;
  }

  #quantityContainer {
    height: 30px;
  }

  #quantityText {
    margin-left: -47px;
    top: 0px;
  }

  #response {
    margin-top: -10px;
  }
}

@media only screen and (max-width: 400px) {
  #content {
    margin-top: 50px;
    height: 95vh;
  }
  #imageContainer {
    width: 250px;
    height: 250px;
  }

  #name,
  #gender,
  #price {
    font-size: 18px;
  }

  .tag {
    margin-right: -50px;
  }

  #addToCartContainer {
    display: block;
    text-align: center;
  }

  #quantityContainer {
    min-width: 100%;
    max-width: 200px;
  }

  #quantityText {
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    margin-top: -30px;
    margin-left: 5px;
  }

  #add {
    margin-top: 10px;
  }

  #response {
    margin-top: 20px;
  }
}

@media only screen and (max-width: 300px) {
  #imageContainer {
    width: 200px;
    height: 200px;
  }

  #infoContainer {
    width: 100%;
    padding-left: 10px;
  }
}
