#updateProfile {
  border: 1px solid red;
  width: 90%;
  height: 5vh;
  position: absolute;
  top: 180px;
  text-align: center;
  font-size: 25px;
  cursor: pointer;
  background: rgba(255, 0, 0, 0.3);
  border-radius: 8px;
  overflow: hidden;
  left: 0;
  right: 0;
  margin: auto;
}

#dropdown {
  position: relative;
  font-size: 16px;
}

#formContainer {
  width: 60%;
  min-height: 10vh;
  margin: auto;
  margin-top: 40px;
}

#formContainer input {
  max-width: 100%;
  outline: none;
  border-radius: 5px;
  border: none;
  padding: 5px;
}

#btnAndResponse {
  margin-top: 20px;
}

#repeatPwText {
  position: relative;
  left: -1.5%;
}

#repeatInput {
  position: relative;
  left: -0.4%;
}

#resetButton {
  cursor: pointer;
  outline: none;
}

#response {
  margin-top: 20px;
  height: 4vh;
}

@media only screen and (max-width: 233px) {
  #dropdown {
    margin-top: -15px;
  }
}
