form {
  position: relative;
  top: 150px;
  border: 1px solid white;
  height: 22vh;
  width: 30%;
  margin: auto;
  text-align: center;
  padding: 5px;
  border-radius: 18px;
  background-color: rgba(255, 0, 0, 0.3);
  min-width: 190px;
}

button {
  border-radius: 18px;
}

#reset,
#response {
  margin-top: 15px;
}

#response {
  position: relative;
  top: 10px;
}

#pwReset {
  margin-top: 15px;
}

#pwResponse {
  position: relative;
  top: 10px;
}
